header {
    background-color: #fff;
    border-bottom: 3px solid #ccc;
    height: 70px;
    line-height: 80px;
}

#container {
    margin: 0 auto;
    width: 960px;
}


h1 {
    text-align: center;
    background-color: #FABC02;
    float: left;
    margin-top: -10px;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    color: white;
}

nav {
    float: right;
    position: relative;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    word-spacing: 20px;
    text-align: center;
    margin-right: 30px;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #FABC02;
}

a:visited {
    color: #FABC02;
}

body {
    background-image: url("../images/black-grid.jpg");
    margin: 0;
    padding: 0;
}

article {
    margin: 0 auto;
    height: 600px;
    width: 960px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 40px;
    padding-right: 10px;
}

.pageTitle, .pageTitlePort {
    background-color: #fff;
    color: #000000;
    height: 50px;
    width: 920px;
    margin-left: 25px;
    text-align: left;
    margin-top: 15px;
    border-bottom: 3px solid #ccc;
}

.myPic {
    display: inline-block;
    margin-right: 25px; 
    height: 250px;
    width: 250px;
    float: left;
    margin-left: 35px;
    border: 1px solid #ccc;
}

p {
 color: #777;
 font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 line-height: 26px;
 padding-left: 20px;
}

form {
    color: #777;
    margin-left: 45px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input {
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 870px;
    height: 22px;
    margin: 10px 0px;
    padding-left: 10px;
}

#message {
    height: 200px;
}

#button {
    height: 40px;
    width: 90px;
    background-color: #FABC02;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
}

img {
    width: 300px;
    height: 200px;
    border: 2px solid #ccc;
}

.img-container {
    float: left;
    position: relative;
    top: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
}

footer {
    border-top: 8px solid #FABC02;
    background-color: #666;
    text-align: center;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
}

#footer {
    color: #fff;
}


@media screen and (max-width: 980px) {
#container {
    width: 700px;
}
.pageTitle {
    width: 710px;
}

.pageTitlePort  {
    width: 560px;
}

input {
    width: 650px;
}

article {
    width: 750px;
}

#portfolioArticle {
    height: 1500px;
    width: 600px;
}

.img-container {
    width: 50%;
    position: relative;
    top: 0px;
    padding-left: 25%;
}
    


}

@media screen and (max-width: 768px) {

.pageTitle {
    width: 580px;
}

.pageTitlePort {
    width: 460px;
}

input {
    width: 540px;
}

article {
    width: 610px;
}

#myBio {
    height: 730px;
}

#portfolioArticle {
    height: 1500px;
    width: 500px;
}

.img-container {
    width: 50%;
    padding-left: 18%;
}

}

@media screen and (max-width: 650px) {
#container {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #ccc;
    height: 150px;
    background-color: white;
}

.pageTitlePort {
    width: 360px;
}

h1 {
    margin: 0 auto;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

nav {
    margin-right: 23%;
}

.pageTitle {
    width: 350px;
    margin-bottom: 20px;
}

input {
    width: 330px;
    margin-left: -15px;
}

article {
    width: 380px;
    margin: 0 auto;
    margin-top: 100px;
} 

.myPic {
    width: 200px;
    height: 200px;
}

#portfolioArticle {
    height: 1600px;
    width: 400px;
}

#myBio {
    height: 1100px;
}

.img-container {
    width: 50%;
    padding-left: 30px;
    padding-top: 15px;
}

}